pereira/*.txt
pereira/C++/*/*.o
pereira/C++/*/*_run
pereira/Python/*/*.py
pereira/RAPL/main
pereira/RAPL/rapl.o
vankempen/fasta-*.txt
.venv/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
relatorio/*.tex
relatorio/*.bib
relatorio/secoes/
relatorio/tabelas/*.tex
relatorio/estatisticas/
relatorio/*.bst
__pycache__/
